<header>
    <a href="/" class="logo">
      <span class="id">LOGAN</span>
    </a>
    <nav>
      <ul class="nav-items clearfix">
        <li><a class="signup" href="/signup">Sign Up</a></li>
        <li><a href="/books">books</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </nav>
  </header>