<header>
    <a href="/" class="logo">
      <span class="id">LOGAN</span>
    </a>
    <nav>
      <ul class="nav-items clearfix">
        <li><a class="signup" href="/signup">Sign Up</a></li>
        <li><a href="/gallery">gallery</a></li>
        <li><a href="/post">post</a></li>
        <li><a href="/myPage">my page</a></li>
      </ul>
    </nav>
  </header>