<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/header.ejs %>
  <div class="signup-container">
    <form action="/users" method="post">
    <div class="userId row"><span class="col">아이디</span>
    <input name="username" class="username" type="text">
    </div>
    <div class="passwd row"><span class="col">패스워드</span>
      <input name="password" class="password" type="text">
    </div>
    <div class="passwd row"><span class="col">패스워드 확인</span>
      <input name="confirmed-password" class="confirmed-password"type="text">
    </div>
    <div class="email row"><span class="col">이메일</span>
      <input name="emailId" class="emailId" type="text"><span>@</span>
      <div class="email-box-container">
        <input name="domain" class="domain" type="text">
        <ion-icon name="arrow-dropdown" class="dropdown select-email"></ion-icon><span></span>
        <ul tabindex="0" class="email-domain-box">
          <li class="domain">gmail.com</li>
          <li class="domain">naver.com</li>
          <li class="domain">hanmail.net</li>
          <li class="domain">hotmail.com</li>
          <li class="domain">chulian.net</li>
          <li class="domain">lycos.com</li>
          <li class="domain">fast.com</li>
          <li class="domain">loola.net</li>
        </ul>
      </div>
    </div>
    <div class="signup">
      <button class="btn-signup">회원가입</button>
    </div>
  </form>
    <script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
    <!-- <script type="text/javascript" src="public/signup.js"></script> -->
    <script type="text/javascript" src="./signup.js"></script>
</body>
</html>